service:
  name: product-service
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name
frameworkVersion: '2'

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline
  - serverless-dotenv-plugin
provider:
  name: aws
  runtime: nodejs12.x
  profile: rsAppAccount
  region: eu-west-1
  endpointType: regional
  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "sqs:ReceiveMessage"
      Resource:
        - Fn::GetAtt:
            - productsQueue
            - Arn
resources:
  Resources:
    productsQueue:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "products-queue"

functions:
  getProductsList:
    handler: handler.getProductsList
    events:
      - http:
          method: get
          path: /products
  getProductById:
    handler: handler.getProductById
    events:
      - http:
          method: get
          path: /products/{id}
  createProduct:
    handler: handler.createProduct
    events:
      - http:
          method: post
          path: /products
          cors: true
  catalogBatchProcess:
    handler: handler.catalogBatchProcess
    events:
      - sqs:
          batchSize: 5
          arn:
            Fn::GetAtt:
              - productsQueue
              - Arn
